[Desktop Entry]
Version=1.0
Type=Application
Name=Donut Browser
Name[en]=Donut Browser
GenericName=Web Browser
X-GNOME-FullName=Donut Browser
Comment=Simple Yet Powerful Anti-Detect Browser
Exec=donutbrowser %u
Icon=donutbrowser
StartupNotify=true
NoDisplay=false
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;
StartupWMClass=donutbrowser
Keywords=browser;web;internet;productivity;