<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Donut Browser needs camera access to enable camera functionality in web browsers. Each website will still ask for your permission individually.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Donut Browser needs microphone access to enable microphone functionality in web browsers. Each website will still ask for your permission individually.</string>
	<key>CFBundleDisplayName</key>
	<string>Donut Browser</string>
	<key>CFBundleName</key>
	<string>Donut Browser</string>
	<key>CFBundleIdentifier</key>
	<string>com.donutbrowser</string>
    <key>CFBundleURLName</key>
    <string>com.donutbrowser</string>
	<key>CFBundleExecutable</key>
	<string>donutbrowser</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Donut Browser</string>
</dict>
</plist> 