name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "35 23 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue has been inactive for 60 days. Please respond to keep it open."
          stale-pr-message: "This pull request has been inactive for 60 days. Please respond to keep it open."
          stale-issue-label: "stale"
          stale-pr-label: "stale"
